Question: Is the referee bias?

In [29]:
import pandas as pd
# read data
source_df = pd.read_csv('..\epl2020_and_weather.csv')

In [39]:
df = source_df[['game_id','wins_home','wins_away','teamId_home','teamId_away','Referee.x']].drop_duplicates()

In [40]:
print(df)

            game_id  wins_home  wins_away  teamId_home       teamId_away  \
0    20190809200000          1          0    Liverpool           Norwich
2    20190810123000          0          1     West Ham          Man City
7    20190810150000          0          0  Bournemouth  Sheffield United
8    20190810150000          1          0      Burnley       Southampton
9    20190810150000          0          1      Watford          Brighton
..              ...        ...        ...          ...               ...
270  20200307150000          0          1  Southampton  Newcastle United
271  20200307150000          0          0       Wolves          Brighton
273  20200307173000          0          0      Burnley         Tottenham
274  20200308163000          1          0      Man Utd          Man City
276  20200309200000          1          0    Leicester       Aston Villa

      Referee.x
0      M Oliver
2        M Dean
7      K Friend
8       G Scott
9      C Pawson
..          ...
270     G Scott
271  A Marriner
273      J Moss
274      M Dean
276    M Oliver

[183 rows x 6 columns]